.tools--breedsCheck {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.tools--checkboxCol {
	display: flex;
	flex-direction: column;
}

@media only screen and (max-width: 560px) {
	mat-panel-description {
	  font-size: 0.8rem;
	}
 }
