<div class="toolbar">
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="container" mode="push" [(opened)]="opened" (backdropClick)="close()"
      (keydown.escape)="close()" [fixedInViewport]="options.value.fixed">
    <!-- Tool Bar Header -->
      <div class="toolbar--header">
        <p>Filtros</p>
        <button mat-icon-button (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <!-- Options -->
      <app-tools (eventClicked)="childEventClicked($event)"></app-tools>
    </mat-sidenav>

    <mat-sidenav-content>
      <p>
        <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
      </p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>