<div class="toolbar">
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="container" mode="push" [(opened)]="opened" (backdropClick)="sidenav.toggle()"
      (keydown.escape)="sidenav.toggle()" [fixedInViewport]="options.value.fixed">
      <!-- Tool Bar Header -->
      <div class="toolbar--header">
        <p>Filtros</p>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <!-- Options -->
      <app-tools></app-tools>
    </mat-sidenav>

    <mat-sidenav-content>
      <div (click)="sidenav.toggle()"></div>
      <button class="toolbar--filterBtn" mat-raised-button (click)="sidenav.toggle()">
        <mat-icon>filter_list</mat-icon>
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>