<mat-accordion>
  <!-- Checkbox Raza -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Razas
      </mat-panel-title>
      <mat-panel-description>
        Has seleccionado 5 filtros
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="tools--breedsCheck">
      <div class="tools--checkboxCol">
        <ng-container *ngFor="let breed of breeds; let i = index">
          <ng-container *ngIf="i <= 29">
            <mat-checkbox
              (change)="onChange($event, breed.name)"
              [checked]="breed.checked"
            >
              {{ breed.name | titlecase }}
            </mat-checkbox>
          </ng-container>
        </ng-container>
      </div>
      <div class="tools--checkboxCol">
        <ng-container *ngFor="let breed of breeds; let i = index">
          <ng-container *ngIf="i >= 30 && i <= 59">
            <mat-checkbox
              (change)="onChange($event, breed.name)"
              [checked]="breed.checked"
            >
              {{ breed.name | titlecase }}
            </mat-checkbox>
          </ng-container>
        </ng-container>
      </div>
      <div class="tools--checkboxCol">
        <ng-container *ngFor="let breed of breeds; let i = index">
          <ng-container *ngIf="i >= 60 && i <= 99">
            <mat-checkbox
              (change)="onChange($event, breed.name)"
              [checked]="breed.checked"
            >
              {{ breed.name | titlecase }}
            </mat-checkbox>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </mat-expansion-panel>
  <!-- Checkbox Sub-Raza -->
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sub-Raza
      </mat-panel-title>
      <mat-panel-description>
        Has seleccionado 2 filtros
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="tools--breedsCheck">
      <div class="tools--checkboxCol">
        <ng-container *ngFor="let sub of subBreeds; let i = index">
          <ng-container *ngIf="i <= 29">
            <mat-checkbox
              (change)="onChange($event, sub.name)"
              [checked]="sub.checked"
              >{{ sub.name | titlecase }}
            </mat-checkbox>
          </ng-container>
        </ng-container>
      </div>
      <div class="tools--checkboxCol">
        <ng-container *ngFor="let sub of subBreeds; let i = index">
          <ng-container *ngIf="i >= 30 && i <= 59">
            <mat-checkbox
              (change)="onChange($event, sub.name)"
              [checked]="sub.checked"
              >{{ sub.name | titlecase }}
            </mat-checkbox>
          </ng-container>
        </ng-container>
      </div>
      <div class="tools--checkboxCol">
        <ng-container *ngFor="let sub of subBreeds; let i = index">
          <ng-container *ngIf="i >= 60 && i <= 99">
            <mat-checkbox
              (change)="onChange($event, sub.name)"
              [checked]="sub.checked"
              >{{ sub.name | titlecase }}
            </mat-checkbox>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
