.display-results {
  padding: 2rem 4rem;
  margin-right: auto;
  margin-left: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1rem;
  justify-content: space-evenly;
}

.grid-item {
  max-height: 20rem;
}

@media only screen and (max-width: 560px) {
  .display-results {
    padding: 20px;
    font-size: 0.5rem;
  }

  .grid-container {
    grid-template-columns: 50% 50%;
    grid-gap: 0.5rem;
  }
}
